# Ignore Jupyter Notebook checkpoints
notebook/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Ignore compiled Python files
**/__pycache__/

# Ignore specific data file
script/extract/extract.ipynb
script/transform/transform.ipynb
script/load/load.ipynb


